<%= link_to("Edit your data", edit_vet_path) %>
<%= link_to("Erase the data", vet_path, method: :delete, data:{confirm: "are you sure?"}) %>

<div><%= @vet.vet_name %></div>
<div><%= @vet.vet_email %></div>
<div><%= @vet.vet_phone %></div>
<br />
<%= link_to("Back", "/vets") %>