<!DOCTYPE html>
<html>
  <head>
    <title>Happy Tails</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <a href="/">Happy Tails Vets</a>
        <ul class="nav">
          <%= link_to "Home", root_path, :class => 'navbar-link' %>
          <%= link_to "Services", services_path, :class => 'navbar-link' %>
          <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
              <div class="right-navbar">
              <div style="text:white; background-color:darkslategrey; padding: 12px">Welcome <%= current_user.email %> </div>
                <ul class="right-nav">
                  <%= link_to "Your Pets", user_pets_path(current_user), :class => 'right-navbar-link' %>
                  <%= link_to "Appointments", appointments_path, :class => 'right-navbar-link' %>
                  <%= link_to 'Edit your profile', edit_user_registration_path, :class => 'right-navbar-link' %>
                </ul>
              </div>
            <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'%> 
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'%>
          <% end %>
        </ul>
    </div>
      <%= yield %>
  </body>
  <footer>Develop by me</footer>
</html>



